:root {
	--background-header-sidebar: #EAEAEA;
    --padding-card-header: 0 20px;
    --padding-card-contacts: 16px 20px;
    --color-border-card: #DAD8D6;
    --color-text-contacts: #B6B9BB;
    --color-notifications: #A6D7F9;
    --color-icon: #B1B1B1;
    --color-message-sent: #D5FABA;
    --color-message-received: white;
}

/* FONT */
body {
	font-family: 'Lato', sans-serif;
}

/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

button {
	border: none;
	background-color: transparent;
}

img {
    width: 100%;
}

/* LAYOUT */
.app {
    height: 100vh;
}

.app-content {
    height: 100%;
    display: flex;
}

.sidebar {
    display: none;
    width: 80px;
    flex-shrink: 0;
}

.chat {
    flex-grow: 1;
}

/* STYLE SIDEBAR */
.header-sidebar, .header-chat {
    background-color: var(--background-header-sidebar);
    width: 100%;
    height: 75px;
}

.notifications-sidebar {
    background-color: var(--color-notifications);
    gap: 15px;
    align-items: center;
    padding: var(--padding-card-contacts);
}

.search-contacts, .contacts {
    background-color: white;
}

#input-search {
    border: 0px solid #DAD8D6;
    height: 37px;
    padding-left: 20px;
    width: 80%;
    color: var(--color-icon);
}

.search-icon {
    color: var(--color-icon);
}

.search-contacts {
    padding: 10px 10px;
}

.container-search-contacts {
    border: 1px solid #DAD8D6;
    padding: var(--padding-card-header);
}

.card-contacts, .card-chat {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.card {
    padding: var(--padding-card-contacts);
}

.contacts {
    height: calc(100% - 75px);
    overflow: auto;
    scrollbar-width: none;
}

.contacts .card:not(:last-of-type) {
    border-bottom: 1px solid var(--color-border-card);
}

.name-contacts {
    font-size: 16px;
    font-weight: bold;
}

.text-contacts, .hours {
    font-size: 12px;
    color: var(--color-text-contacts);
}

#start-notifications {
    color: #4F7485;
    text-decoration: underline;
}

#message-notifications {
    font-weight: 800;
}

/* STYLE CHAT */

.header-chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-card-header);
}

.main-chat {
    padding-right: 10px;
    background-color: var(--background-header-sidebar);
    height: calc(100% - 75px - 75px);
}

.card-chat {
    gap: 15px;
}

.container-chat {
    background-image: url(../img/mine.jpg);
    padding: 20px 20px;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 10px;
}

.message-chat-sent, .message-chat-received {
    max-width: 340px;
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
}

.message-chat-sent {
    background-color: var(--color-message-sent);
    align-self: end;
}

.message-chat-received {
    background-color: var(--color-message-received);
    align-self: self-start;
}

.interact-message {
    
}

/* UTILITY */
.style-avatar {
    border-radius: 50%;
    width: 50px;
    display: block;
}

.style-icon {
    font-size: 25px;
    padding-left: 10px;
    color: var(--color-icon);
}

.style-bell-icon {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1/1;
    text-align: center;
    line-height: 50px;
    color: var(--color-notifications);
    font-size: 20px;
}

/* MEDIA QUERY */
@media (min-width: 768px){
    .sidebar {
        display: block;
    }

    .sidebar .icon {
        display: none;
    }

    .header-sidebar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .notifications-sidebar {
        display: none;
    }

    .search-contacts {
        display: none;
    }

    .info-contacts, .hours {
        display: none;
    }

    .header-chat {
        border-left: 1px solid var(--color-border-card);
    }
}

@media (min-width: 992px){
    body {
        background: linear-gradient(to bottom, #4D9288 0px, #4D9288 170px, #DADBD5 170px, #DADBD5 100vh);
    }

    .app {
        padding: 36px 0;
    }

    .app-content {
        width: 80%;
        margin: 0 auto;
    }

    .sidebar {
		width: 370px;
        background-color: white;
	}

    .header-sidebar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--padding-card-header);
    }

    .sidebar .icon {
        display: block;
    }

    .notifications-sidebar {
        display: flex;
    }

    .search-contacts {
        display: block;
    }

    .info-contacts, .hours{
        display: block;
    }

    .card {
        display: flex;
        justify-content: space-between;
        /* padding: var(--padding-card-contacts); */
    }

    .card-contacts {
        justify-content: flex-start;
        gap: 15px;
    } 

    .contacts {
        width: 350px;
        border-right: 1px solid var(--color-border-card);
        height: calc(100% - 66px - 70px - 80px);
    }
}

/* DEBUG */
.debugW .chat {
    border: 5px solid orange;
}