:root {
	--background-header-sidebar: #EAEAEA;
    --padding-card: 0 20px;
}

/* FONT */
body {
	font-family: 'Lato', sans-serif;
}

/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

button {
	border: none;
	background-color: transparent;
}

img {
    width: 100%;
}

/* LAYOUT */
.app {
    height: 100vh;
}

.app-content {
    height: 100%;
    display: flex;
}

.sidebar {
    display: none;
    width: 80px;
    flex-shrink: 0;
}

.chat {
    flex-grow: 1;
}

/* STYLE SIDEBAR */
.header-sidebar {
    background-color: var(--background-header-sidebar);
    width: 100%;
    height: 75px;
}

/* UTILITY */
.style-avatar {
    border-radius: 50%;
    width: 50px;
    display: block;
}

/* MEDIA QUERY */
@media (min-width: 768px){
    .sidebar {
        display: block;
    }

    .sidebar .icon {
        display: none;
    }

    .header-sidebar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .notifications-sidebar {
        display: none;
    }

    .search-contacts {
        display: none;
    }

    .name-contacts, .hours {
        display: none;
    }
}

@media (min-width: 992px){
    body {
        background: linear-gradient(to bottom, #4D9288 0px, #4D9288 170px, #DADBD5 170px, #DADBD5 100vh);
    }

    .app {
        padding: 36px 0;
    }

    .app-content {
        width: 80%;
        margin: 0 auto;
    }

    .sidebar {
		width: 370px;
	}

    .header-sidebar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--padding-card);
    }

    .sidebar .icon {
        display: block;
    }

    .notifications-sidebar {
        display: block;
    }

    .search-contacts {
        display: block;
    }

    .name-contacts, .hours{
        display: block;
    }

    .card {
        padding: var(--padding-card);
        display: flex;
        justify-content: space-between;
    }

    .card-contacts {
        display: flex; 
        align-items: center;
        gap: 15px;
    }
}

/* DEBUG */
/* .debug .app {
    background-color: aqua;
} */

.debug .app-content {
    border: 2px solid red;
}

.debug .sidebar {
    border: 3px solid yellow;
}

.debug .chat {
    border: 5px solid orange;
}