/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

button {
	border: none;
	background-color: transparent;
}

img {
    width: 100%;
}

/* FONT */
body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* LAYOUT */
.container-sm {
	max-width: 80%;
	margin: 0 auto;
}

.container {
	height: 100vh;
}

/* STYLE PAGE-BEHIND*/
.header-behind {
	background-color: #4D9288;
	height: 20%;
}

.main-behind {
	background-color: #DADBD5;
	height: 80%;
}

/* .page-behind::before {
	content: "";
	background-color: #4D9288;
	display: block;
	height: 20%;
	z-index: 1;
}

.page-behind::after {
	content: "";
	display: block;
	background-color: #DADBD5;
	height: 80%;
	z-index: 1;
} */

/* DEBUG */
.debug .page-after-you {
	width: 100px;
	height: 100px;
	background-color: blue;
}