:root {
	--background-nav: #EAEAEA;
}

/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

button {
	border: none;
	background-color: transparent;
}

img {
    width: 100%;
}

/* FONT */
body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* LAYOUT */
.page-main {
	height: 100vh;
}

.container {
	margin: 0 auto;
	height: 100%;
	width: 100%;
}

.row {
	display: flex;
}

.col {
	display: none;
}

.col-12 {
	flex-grow: 1;
}

/* STYLE */

/* Style nav */
[class^='nav'] {
	background-color: var(--background-nav);
	height: 70px;
}

.nav-main {
	border-left: 1px solid #D8D8D8;
}

/* Style chat e Form */
.chat {
	overflow: auto;
	height: calc(100% - 140px);
}

.form {
	height: 70px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* Style contacts */
.contacts {
	background-color: white;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 22px;
	align-items: center;
}

.img-contacts {
	border-top: 1px solid #D8D8D8;
}

.style-img {
	border-radius: 50%;
	width: 50px;
}

/* .contacts img, .nav-header img {
	border-radius: 50%;
	width: 50px;
	aspect-ratio: 1/1;
	object-fit: cover;
} */

/* UTILITY */


.flex {
	display: flex;
}

.align-center {
	align-items: center;
}

/* MEDIA QUERY */
@media (min-width: 768px){
	.col-md-1 {
		display: block;
		width: calc(1 * 100% / 12);
		height: 100vh;
	}

	.col-md-11 {
		width: calc(11 * 100% / 12);
		height: 100vh;
	}

	.container {
		height: 100vh;
		width: 100%;
	}

	.form {
		height: 70px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 10px;
	}

	.contacts {
		border-bottom-left-radius: 10px;
	}
}

@media (min-width: 992px){
	body {
		height: 100vh;
		background: linear-gradient(to bottom, #4D9288 0vh, #4D9288 20px, #DADBD5 20px, #DADBD5 100vh);
		padding: 20px 0;
	}

	.container {
		width: 80%;
		height: 95vh;
	}

	.col-lg-3 {
		width: calc(3 * 100% / 12);
		height: 95vh;
	}

	.col-lg-9 {
		width: calc(9 * 100% / 12);
		height: 95vh;
	}

	.chat {
		height: calc(95vh - 140px);
	}

	.form {
		height: 70px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
}

/* DEBUG */

/* .debug .col-lg-3 {
	background-color: red;
} */

/* .debug .col-lg-9, .col-12 {
	background-color: blue;
} */

.debug .nav-main {
	height: 70px; 
	/*
	background-color: gray;
	*/
} 

.debug .chat {
	background-color: green;
}

.debug .form {
	background-color: aqua;
}
