/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

button {
	border: none;
	background-color: transparent;
}

img {
    width: 100%;
}

/* FONT */
body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* LAYOUT */
.container {
	max-width: 80%;
	margin: 0 auto;
}

/* STYLE */

/* MEDIA QUERY */
@media (min-width: 992px){
	body {
		height: 100vh;
	background: linear-gradient(to bottom, #4D9288 0vh, #4D9288 20vh, #DADBD5 20vh, #DADBD5 100vh);
	}
}

/* DEBUG */