:root{
    --background-sidebar: #FAFAFA;
    --background-toolbar: #EAEAEA;
    --background-notification: #8EDAFC;
    --color-icon-magnifying-glass: #B1B4B6;
}

/* FONT */
body {
	font-family: 'Lato', sans-serif;
}

/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

button {
	border: none;
	background-color: transparent;
}

img {
    width: 100%;
}

input,
textarea {
	border: none;
	background: transparent;
}

/* LAYOUT */
#app {
    height: 100vh;
    width: 100%;

    @media (min-width: 992px){
        background: linear-gradient(to bottom, #4D9288 0px, #4D9288 170px, #DADBD5 170px, #DADBD5 100vh);
    }    
}

#app-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

/* STYLE SIDEBAR */
.sidebar {
    display: none;
    width: 80px;
    background-color: var(--background-sidebar);
}

/* STYLE TOOLBAR */
.toolbar {
    background-color: var(--background-toolbar);
    width: 100%;
    height: 70px;
}

/* STYLE NOTIFICATION */
.notification {
    background-color: var(--background-notification);
    width: 100%;
    height: 75px;
    display: none;
}

/* STYLE SEARCH */
.search-contact {
    width: 100%;
    height: 50px;
    display: none;
    padding: 10px 10px;
    position: relative;

        & input {
            background-color: white;
            outline: none;
            width: 100%;
            height: 100%;
            border: 1px solid rgba(128, 128, 128, 0.075);
            padding-left: 50px;
            transition: all 1s;
        }

            & i {
                position: absolute;
                left: 25px;
                top: 50%;
                font-size: 14px;
                transform: translateY(-50%);
                opacity: 1;
                transition: all 0.4s;
                pointer-events: none;
                color: var(--color-icon-magnifying-glass);
            }

                & input:focus-visible {
                    padding-left: 10px;

                    + i {
                        opacity: 0;
                    }
                }
}

/* STYLE CONTACTS */
.contacts {
    flex-grow: 1;

        & .card {
            display: none;
        }

        & img {
            width: 50px;
            border-radius: 50%;
            aspect-ratio: 1/1;
            object-fit: cover;
        }

        @media (min-width: 768px) {
            .card {
                display: block;

                & .info-contacts, & .hours {
                    display: none;

                    @media (min-width: 992px) {
                        display: block;
                    }
                }
            }
        }
}

/* STYLE TOOLBAR-CHAT */
.toolbar-chat {
    background-color: var(--background-toolbar);
    width: 100%;
    height: 70px;
}

/* STYLE OPEN-CHAT */
.open-chat {
    flex-grow: 1;
}

/* STYLE SEND-MESSAGE */
.send-message {
    width: 100%;
    height: 70px;
}

/* STYLE CHAT */
.chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* UTILITY */

/* MEDIA QUERY */

/* 768px */
@media (min-width: 768px){
    .sidebar {
        display: flex;
        flex-direction: column;
    }
}

/* 992px */
@media (min-width: 992px){
    #app {
        padding: 36px 0;
    }

    #app-content {
        width: calc(100% - 250px);
    }

    .sidebar {
        width: 370px;
    }

    .notification, .search-contact {
        display: block;
    }
}

/* DEBUG */

.debug .open-chat {
    background-color: chartreuse;
}

.debug .send-message {
    background-color: violet;
}